.pizzaTitle {
  text-align: center;
  background-color: green;
}


form#pizzaOrder {
  text-align: center;
}

.addNewPizza, .orderPizza {
  text-align: center;
  margin: 10px;
}

#pizzaCostDisplay {
  display: none;
}
